/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";


 tr.on-shopping-list {
   td {
     text-decoration: line-through;
   }
 }

.table-responsive {
    display: table;
}


.delete-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

// Kachel für die Projekte
// max 3 pro Reihe
// Bildschirmbreite
// Text horizontal und  vertikal zentriert
// Höhe und Breite gleich
.tile {
  width: 30%;
  float: left;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  text-align: center;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
  // vertikal zentriert
  display: flex;
  align-items: center;
  // horizontal zentriert
  justify-content: center;
  // Höhe und Breite gleich
  height: 200px;
  text-decoration: none;
  font-size: 30px !important;
  position: relative;

  &:hover {
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  }
  &.active {
    box-shadow: 0px 0px 15px 0px red;
  }
  a {
    text-decoration: none;
    &.edit{
      position: absolute;
      color: grey;
      bottom: 0;
      right: 0;
      margin: 5px;
    }
  }
}

.nav-link.disabled.project {
  color: red !important;
}
